/*
* {
    background-color: steelblue;
    margin: 0;
    padding: 0;
    color: slateblue;
}
*/


body {
    background-color: slategrey;
    /* background: none; */
}

p {
    color: darkblue;
    font-size: 26px;
}

header {
    background-color: lightcoral;
}

footer {
    background-color: lightcoral;
}