/* intrs */
/* 
html {
    font-size: 62.5%;
  }
*/


/*
* {
    background-color: steelblue;
    margin: 0;
    padding: 0;
    color: slateblue;
}
*/


body {
    background-color: slategrey;
    /* background: none; */
}

p {
    color: darkblue;
    font-size: 26px;
}

header {
    background-color: lightcoral;
}

footer {
    background-color: lightcoral;
}

a {
    color: darkcyan;
    background-color: peachpuff;
    text-decoration: none;
}

#education {
	border: 3px solid red;
}
#skills-list {
    background-color: aliceblue;
    padding: 36px;
}

.top_skill {
    font-weight: bold;
    background-color: teal;
    color:papayawhip;
}
.date {
    border: 2px solid steelblue;
    border-radius: 12px;
    padding: 6px;
  }
  
.special {
    text-transform: uppercase;
    background-color: papayawhip;
}
#proud {
    font-size: 48px;
}